
body{
  font-family: Poppins-Regular, sans-serif;
  background-color: whitesmoke;
  height: 100%
}

#search{
  float: left;
  margin-top: 20px;
  margin-left: 10px;
}

input::placeholder{
  color: #666666;
}

#s1{
  width:20%;
  float:left;
}

#s2{
  padding: 10px;
  float: right;
  margin:10px;
  width: 75%;
}

.header{
  background-color: whitesmoke;
  padding: 3px;
  margin-bottom: 10px;
  text-align: center;
}

.header img{
  float: left;
  max-width: 60px;
  width: 100%;
  margin-left: 15px;
  border-radius: 50%;
}

h2{
  color: black;
}

button{
  border:none;
  border-radius: 5px;
  background: #6675df;
  color: white;
  width: 80px;
  height: 40px;
  text-decoration: none;
}

#messages {
  border: 2px solid #dedede;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width:80%;
  float:left;
  color: black;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #0183aa;
  float:right;
}

/* Clear floats */
.msgbox::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.msgbox img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.msgbox img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.textbox::after{
  content:"";
  clear: both;
  display: table;
}

.textbox {
  border-radius: 5px;
  color: black;
  padding: 10px;
  margin-top: 10px;
  width: 100%
}


#sendbtn{
  background-color: #6675df;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 4px 2px;
  cursor: pointer;
  width: 18%;
  height: 38px;
}

.leftmsgbox{
  border: 2px solid #ccc;
  background: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  color: black;
}

.leftmsgbox img{
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

#bottom{
    position: fixed;
    bottom: 0;
}


#messages { list-style-type: none; margin: 0; padding: 0; }

#messages li { padding: 5px 10px; }

#messages li:nth-child(odd) { background: #eee; }

#messages { margin-bottom: 40px }